<!DOCTYPE html>
<html>
  <head>
    <title>Moneyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">myFinances</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Income</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/spending/">Spending</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Transfers</a>
          </li>
        </ul>
        <button class="ml-auto btn btn-outline-success" data-toggle="modal" data-target="#loggerModal">Log Transaction</button>
      </div>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>

<div class="modal fade" id="loggerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag '/transaction/', :remote => true, :method => "post", :class => "form-group transaction-form" do %>
          <div class="row">
            <div class="col-auto">
              <h5>Type:</h5>
              <div class="row mx-0" id="type-selection">
                <%= radio_button_tag(:type, "income", false) %><label class="pill-link py-1 px-2 m-1" for=<%= "type_income"%>>Income</label>
                <%= radio_button_tag(:type, "spending", false) %><label class="pill-link py-1 px-2 m-1" for=<%= "type_spending"%>>Spending</label>
                <%= radio_button_tag(:type, "transfer", false) %><label class="pill-link py-1 px-2 m-1" for=<%= "type_transfer"%>>Transfer</label>
              </div>
            </div>
            <div class="col">
              <h5 class="mt-2">Date:</h5>
              <div class="row mx-0">
                <input type="text" autocomplete="off" name="played_at" class='datepicker form-control' id="played_at" placeholder="Pick a date">
                <script type="text/javascript">
                  $(document).ready(function(){
                    $('.datepicker').datepicker({
                      startView: 2,
                      maxViewMode: 2,
                      todayBtn: "linked",
                      autoclose: true,
                      endDate: "0d"
                  });
                  });
                </script>
              </div>
            </div>
          </div>
          <h5 class="mt-2">Amount:</h5>
          <div class="row mx-0">
            <div class="col-2 my-auto px-0 d-none spending-form">
              Checking
            </div>
            <div class="col my-auto px-0">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <%= text_field_tag 'amount', "", placeholder: "0.00", class: "form-control p-1", autocomplete: "off" %>
              </div>
            </div>
          </div>
          <span class="d-none spending-form">
            <div class="row mt-1 mx-0">
              <div class="col-2 my-auto px-0">
                Cash
              </div>
              <div class="col my-auto px-0">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                  </div>
                  <%= text_field_tag 'amount_cash', "", placeholder: "0.00", class: "form-control p-1", autocomplete: "off" %>
                </div>
              </div>
            </div>
          </span>
          <span class="d-none income-form">
            <div class="row mx-0" id="type-selection">
              <%= radio_button_tag(:amount_type, "checking", false) %><label class="pill-link py-1 px-2 m-1" for=<%= "amount_type_checking"%>>Checking</label>
              <%= radio_button_tag(:amount_type, "cash", false) %><label class="pill-link py-1 px-2 m-1" for=<%= "amount_type_cash"%>>Cash</label>
            </div>
          </span>
          <h5 class="mt-2">Description:</h5>
          <div class="row mx-0">
            <%= text_field_tag 'desc', "", placeholder: "Enter a description", class: "form-control p-1", autocomplete: "off" %>
          </div>
          <span class="d-none spending-form">
            <h5 class="mt-2">Category:</h5>
            <div class="form-group">
              <select class="form-control" name="category" id="category">
                <% @categories.each do |k ,v| %>
                  <option><%=k%></option>
                <% end %>
              </select>
              <% @categories.each do |k ,v| %>
                <select class="form-control d-none mt-2 sub_category" id="sub_category_<%=k%>">
                  <option>General</option>
                  <% v.each do |subc| %>
                    <option><%=subc%></option>
                  <% end %>
                </select>
              <% end %>
            </div>
          </span>
          </span>
          <div class="row mx-0 mt-2">
            <button type="submit" name="commit" class="btn btn-primary submit-trans">Submit</button>
            <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
