<!DOCTYPE html>
<html>
  <head>
    <title>Moneyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">myFinances</a>
      <button class="ml-auto btn btn-outline-success d-block d-lg-none mr-2" data-toggle="modal" data-target="#loggerModal">Log Transaction</button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Income</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/spendings/">Spending</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transfers/">Transfers</a>
          </li>
        </ul>
        <button class="ml-auto btn btn-outline-success d-none d-lg-block" data-toggle="modal" data-target="#loggerModal">Log Transaction</button>
      </div>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>

<div class="modal fade" id="loggerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag '/transaction/', :remote => true, :method => "post", :class => "form-group transaction-form" do %>
        <%= hidden_field_tag "page_type", params[:page_type]%>
          <div class="row">
            <div class="col">
              <div class="row w-100 mx-0" id="type-selection">
                <%= link_to "Income", render_income_path, remote: true, class: 'pill-link income px-2 ml-auto m-1', id: 'type_income' %>
                <%= link_to "Spending", render_spending_path, remote: true, class: 'pill-link spending px-2 m-1', id: 'type_spending' %>
                <%= link_to "Transfer", render_transfer_path, remote: true, class: 'pill-link transfer px-2 mr-auto m-1', id: 'type_transfer' %>
              </div>
            </div>
          </div>     
          <div class="row mx-0" id="specific_form">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
